* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}

.navbar__brand {
        width: 20px;
        height: 80px;
        border: 1px solid green;
        animation: 10s abc infinite;
        animation-delay: 0.5s ;
    }
    
     @keyframes abc {
        
        20%{
            margin-left: 800px;
            margin-top: 5px;

        background-color: tomato;
        transform: rotate(5deg);
        border-radius: 20%; 
        }
        50%{
            margin-left: 800px;
            margin-top: 5px;
        background-color:rgb(rgb(199, 0, 0), rgb(128, 124, 0), rgb(0, 145, 255));
        transform: rotate(5deg);
        border-radius: 20%;
        } 
    }
    
.navbar__logo {
    width: 100%;
}
/* .navbar__brand :hover{
    background-color:gold;
   border-radius: 10%; 
   transform:rotate(20deg);
   cursor: pointer;
} */

.button__primary {
    background-image: linear-gradient(to right,
            #ff512f 0%,
            #dd2476 51%,
            #ff512f 100%);

    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 6px;
    font-weight: 600;
    font-weight: 600;
}

.button__primary:hover {
    border: 2px solid #FF6767;
    cursor: pointer;
}

@media (min-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 30px;
    }

    .hero__container {
        margin: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 70%;
    }

    .navbar__brand {
        width: 150px;
    }
}

.button__primary {
    padding: 20px;
    font-size: 20px;
}
.container {
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.hero__image__container {
    width: 100px;
}

.hero__image {
    padding-right: 40px;
    width: 600%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.hero__description {
    width: 100%;
}

.hero__text {
    font-weight: 800;
    font-size: 30px;
    margin: 20px 0;
    color: #1d3557;
}

.food__card__description {
    padding: 15px;

}

.food__card {
    background-color: #F9F9F9;
}

.food__card__image__container {
    width: 100%;
}

.food__image {
    border-radius: 8px 8px 0 0;
    width: 100%;
}

.explore__menu__text {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: #1d3557;
}

@media (min-width: 768px) {
    .explore__menu__lists {
        margin-top: 45px;
        display: flex;
        gap: 15px;
        padding: 0 30px;
    }

    .explore__menu__container {
        position: relative;
    }

    .explore__menu__gradient__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right,
                #ff512f 0%,
                #dd2476 51%,
                #ff512f 100%);
        z-index: -3;
        transform: skewY(-2deg);
    }

    #pizza__card {
        margin-top: -20px;
        margin-bottom: 30px;
    }

    .navbar {
        justify-content: space-between;
        padding: 10px 30px;
    }

    .hero__container {
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 70%;
    }
}

    .explore__menu__lists {
        gap: 25px;
    }

    .navbar__brand {
        width: 150px;
    }

    .button__primary {
        padding: 20px;
        font-size: 20px;
    }

    .hero__description {
        width: 100%;
    }

    .hero__text {
        font-size: 50px;
    }

    .explore__menu__text {
        font-size: 48px;
    }

    /* resort section */
 #resort-container{
   height: 412px;
   width: 884px; 
} 

#resort-text h1{
    margin-top: 200px;
    font-size: 33px;
} 

#resort{
    margin-left: 450px;
}

#resort img{
  padding: 0.5px;
}   

.resort-item1{
    margin-top: -200px;
    float: left; 
}

.resort-item2{
    margin-top: -44px;
    float: left; 
}

 .resort-item3{
    margin-top: -220px; 
    float: right; 
} 

.resort-item4{
    margin-top: -44px;
    float: right; 
} 

#updates {
   padding-left: 225px;
   padding-top: 170px;
   font-size: xx-large;
   width: 100%;
} 
.final-discription img{
    width: 100%;
    opacity: 0.9;
}
 .final-discription::after {
    content: "When a man's stomach is full it makes no difference whether he is rich or poor";
    position: absolute;
    padding-top: 100px;
    white-space:pre-wrap;
    right: 50%;
    transform: translateX(50%);
    font-weight:bolder;
    font-size: 30px;
    color: white;
} 
footer{
    background-color: #FF6767;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

    .final-navbar{
   width: 50%;
   }  
   
